<div>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div class="navbar-text form-inline">
                    Hello, <strong>@User.Identity.Name!</strong>  
                @Html.ActionLink("Sign out", "LogOff", "Account")
            </div>
        
           
        }
        else
        {
            <div class="btn-toolbar">
            @Html.ActionLink("Sign in", "Logon", "Account", null, new { @class = "btn btn-small btn btn-warning" })
            @Html.ActionLink("Sign up", "Register", "Account", null, new { @class = "btn btn-small" })
            </div>
        }
    }
</div>
